<footer>
	<style>
.disclaimer-text {
	font-size: 10px;
	text-align: center
}

.footer-block {
	margin-top: 20px;
	padding: 10px;
	margin-bottom: 0px;
	width: 100%;
	text-align: center;
	border-top: 1px solid #E5E5E5;
	background-color: #FDFDFD;
}

.footer-keyword {
	color: black;
	font-size: 10px;
}

.ext-link {
	color: rgb(50, 50, 50);
	font-size: 10px;
}

.ext-link-title {
	font-weight: bold;
	font-size: 10px;
}

.foot-link {
	color: black;
	font-weight: bold;
}
</style>
	<div class="footer-block">
		<p class="foot-link">
			<a href="#" class="foot-link">关于NZROOM</a>
			| <a href="#" class="foot-link">网站地图</a>
			| <a href="#" class="foot-link">博客</a> | <a
				href="#" class="foot-link">中介/房东数据库</a>
		</p>
		<p class="">
			<span class="ext-link-title">合作伙伴：</span><a
				href="#" class="ext-link">移民族论坛</a> | <a
				href="#" class="ext-link">WHV百科网</a>
		</p>
		<p class=""></p>
		<div style="display: none">
			keywords: <a href="http://www.NZROOM.com/sitemap.htm" title="新西兰租房"
				target="_blank" class="footer-keyword"><strong>新西兰租房</strong></a> <a
				href="http://www.NZROOM.com/sitemap.xml" title="新西兰租房"
				target="_blank" class="footer-keyword"><strong>新西兰租房</strong></a> <a
				href="http://www.NZROOM.com/all_posts/0/" title="新西兰租房"
				target="_blank" class="footer-keyword"><strong>新西兰租房</strong></a>
		</div>
		<p></p>
	</div>
</footer>