
<!-- 页脚 -->
<div id="footer" class="clearfix">
	<footer>
		<div class="footer-block">
			<p class="foot-link">
				<a href="#" class="foot-link">关于新西兰租房网</a> | 
				<a href="#" class="foot-link">网站地图</a> |
				<a href="#"	class="foot-link">博客</a> | 
				<a href="#" class="foot-link">中介/房东数据库</a>
			</p>
			<p class="">
				<span class="ext-link-title">合作伙伴：</span><a
					href="#" class="ext-link">WHV百科网</a> | <a
					href="#" class="ext-link">移民族论坛</a>
			</p>
			<p class="">
	</div>
</footer>
</div>
<!-- 页脚 结束 -->

