
<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">
	/* global variables 
	var post_id = "2582595";
	var favorite_text = "收藏";
	var favorite_cancle_text = "取消收藏";
	var delete_confirm_msg = "您确定要永久删除这个帖子吗？您还可以隐藏这个帖子。";
	var delete_succeed_msg = "您的帖子已经删除。跳转中...";
	var check_share_str = "正在检测分享是否成功。请稍后刷新网页查看剩余置顶时间。"
	*/
</script>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>3室+1厅 大牌 19多佛 Dover 编号130019</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="3室+1厅 大牌 19多佛 Dover 编号130019">
 

<link rel="stylesheet" href="room.css" type="text/css"/>
<link rel="shortcut icon" href="/static/img/fav.ico">
 
<!--[if lt IE 9]>
	<script src="/static/bootstrap3/js/html5shiv.js"></script>
	<script src="/static/bootstrap3/js/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/bootstrap-ie7.css" type="text/css">
<![endif]-->
<script type="text/javascript" src="room.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49491055-1', 'sgroom.com');
  ga('send', 'pageview');
</script>
<link rel="stylesheet" href="room2.css" type="text/css"/>
<script type="text/javascript">
	function initialize()
	{
	    var mapOptions = 
            {
	    	center: new google.maps.LatLng(1.307839, 103.783658),
		
    		zoom: 15,
		
		scrollwheel: false,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	    };
	    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

            var marker = new google.maps.Marker({
            position: new google.maps.LatLng(1.307839, 103.783658),
            title:"Hello World!"});
            marker.setMap(map);
	}

	function loadScript() {  
	  var script = document.createElement("script");  
	  script.type = "text/javascript";  
	  script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyCFpcc4FJGquOk_Bh1kkpa0LTHkUmDa1XY&callback=initialize";  
	  document.body.appendChild(script);  
	}  
	window.onload = loadScript;
</script>
</head>
<div class="alert alert-warning fade top-message-block">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
<strong id="top-message-text"></strong>
</div>
<body>
<script type="text/javascript">
	
  
	var login_status = false;
	
</script>
<style>.form-in-modal{margin:20px 20px 20px 20px;}.form-title{margin-top:20px;margin-bottom:20px;position:relative;text-align:center;}.form-title .text{color:#999999;padding:0 10px;background-color:#FFFFFF;}.language-selection{font-weight:bold;color:red;line-height:46px;}.modal-message{margin:0 60px;text-align:right;}.post-ad-link{color:rgb(237,122,58);}.modal-row-title-div{padding:0 0 5px 15px;}.modal-row-title-text{color:#999999;}.modal-indicator{display:none;padding-right:4px;}.result-text-red{color:rgb(186,70,70);font-size:14px;background:url(/static/img/warning16.png) no-repeat top left;display:inline-block;padding-left:20px;}.result-text-green{color:rgb(70,136,70);font-size:14px;background:url(/static/img/accept16.png) no-repeat top left;display:inline-block;padding-left:20px;}
/*.language-selected{background-color:#d9e6f2;}.language-icon{display:inline-block;padding-left:35px;}.china-icon{background:url(/static/img/china_ico.png) no-repeat top left;}.uk-icon{background:url(/static/img/uk_ico.png) no-repeat top left;}#post_ad_link{color:#FF3333;font-weight:bold;}#post_ad_link:hover{cursor:pointer;text-decoration:underline;}.bar-menu{font-size:16px;font-weight:bold;}*/</style>
<div class="navbar navbar-inverse navbar-fixed-top" style="z-index:2;"> 
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-navbar-collapse" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<div style="padding: 9px 10px 9px 0px;"><a href="/"><img src="logo.png" style="height: 32px;" alt="新西兰租房"></a></div>
</div>
<div class="navbar-collapse collapse bs-navbar-collapse">
<ul class="nav navbar-nav navbar-right" id="navbar-right-links">
<li style="padding-left:15px;">
<button id="new_post_btn" type="button" class="btn btn-warning" style="margin-top:9px;">
<span class="glyphicon glyphicon-edit"></span>&nbsp;免费发布
</button>
</li>
<li class="before-login-link" id="login_link"><a href="javascript:void(0)">登录</a></li>
<li class="before-login-link" id="register_link"><a href="javascript:void(0)">注册</a></li>
<!--<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src=/static/img/china_ico.png style="margin:-5px 0 -5px 0;"><b class="caret"></b></a>
<ul class="dropdown-menu">
<li class="language-selected"><a href="./?lang=zh"><span class="china-icon language-icon">简体中文</span></a>
</li>
<li><a href="./?lang=en"><span class="uk-icon language-icon">English</span></a></li>-->
</ul>
</li>
</ul>
</div>
</div>
</div> 
<div id="login_modal" class="modal" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4>用户登录</h4>
</div>
<div class="col-sm-10 col-sm-offset-1">
<div class="form-title">
<span class="text" id="login_modal_msg">请输入您的邮箱和密码</span>
</div>
</div>
<form class="form-horizontal form-in-modal" onsubmit="return false">
<div class="form-group">
<div class="col-sm-10 col-sm-offset-1">
<input type="email" class="form-control" id="login_email" placeholder="邮箱">
</div>
</div>
<div class="form-group">
<div class="col-sm-10 col-sm-offset-1">
<input type="password" class="form-control" id="login_password" placeholder="密码">
</div>
<div class="col-sm-10 col-sm-offset-1">
<label class="control-label" for="inputError"></label>
</div>
</div>
<div class="modal-message">
<img src="/static/img/indicator_small.gif" id="login_indicator" class="modal-indicator"/><span id="login_result_msg"></span>
<ul id='login-error-msg-list' style="color:red;">
<ul>
</div>
<div class="modal-footer">
<span class="forgot_password pull-left"><a class="trigger_forgot_password" href="#">忘记密码？</a></span>
<span class="forgot_password pull-left">&nbsp;&nbsp;没有账户？&nbsp;&nbsp;<a class="trigger_register" href="#">注册</a></span>
<input type="submit" name="submit" value="登录" class="btn btn-primary" id="login_button_id">
</div>
</form>
</div>
</div>
</div>
<div id="forgot_password_modal" class="modal" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4>找回密码</h4>
</div>
<div class="col-sm-10 col-sm-offset-1">
<div class="form-title">
<span class="text">请输入邮箱</span>
</div>
</div>
<form class="form-horizontal form-in-modal" onsubmit="return false">
<div class="form-group">
<div class="col-sm-10 col-sm-offset-1">
<input type="email" class="form-control" id="forgot_email" placeholder="邮箱">
</div>
<div class="col-sm-10 col-sm-offset-1">
<label class="control-label" for="inputError"></label>
</div>
</div>
<div class="modal-message">
<img src="/static/img/indicator_small.gif" id="forgot_indicator" class="modal-indicator"/>
<span id="forgot_result_msg"></span>
<ul id='forgot-error-msg-list' style="color:red;">
<ul>
</div>
<div class="modal-footer">
<input type="submit" name="submit" value="提交" class="btn btn-primary" id="forgot_password_button_id">
</div>
</form>
</div>
</div>
</div>
<div id="register_modal" class="modal" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4>注册</h4>
</div>
<form class="form-horizontal form-in-modal" onsubmit="return false">
<div class="form-group">
<div class="col-sm-10 col-sm-offset-1">
<input type="text" class="form-control" id="register_username" placeholder="用户名">
</div>
<div class="col-sm-10 col-sm-offset-1">
<label class="control-label" for="inputError"></label>
</div>
</div>
<div class="form-group">
<div class="col-sm-10 col-sm-offset-1">
<input type="email" class="form-control" id="register_email" placeholder="邮箱">
</div>
<div class="col-sm-10 col-sm-offset-1">
<label class="control-label" for="inputError"></label>
</div>
</div>
<div class="form-group">
<div class="col-sm-10 col-sm-offset-1 modal-row-title-div">
<span class="modal-row-title-text">账户类型</span>
</div>
<div class="col-sm-4 col-sm-offset-1">
<input type="radio" name="usertype_radios" id="r" value="r" style="margin:0 10px;" checked>个人
</div>
<div class="col-sm-6">
<input type="radio" name="usertype_radios" id="a" value="a" style="margin:0 10px;">中介（可以同时发布更多广告）
</div>
</div>
<div class="form-group">
<div class="col-sm-10 col-sm-offset-1">
<input type="password" class="form-control" id="register_password" placeholder="密码">
</div>
<div class="col-sm-10 col-sm-offset-1">
<label class="control-label" for="inputError"></label>
</div>
</div>
<div class="modal-message">
<img src="/static/img/indicator_small.gif" id="register_indicator" class="modal-indicator"/>
<span id="register_result_msg"></span>
<ul id='register-error-msg-list' style="color:red;">
<ul>
</div>
<div class="modal-footer">
<span class="forgot_password pull-left">已经有账户？&nbsp;&nbsp;<a class="trigger_login" href="#">登录</a></span>
<input type="submit" name="submit" value="注册" class="btn btn-primary" id="register_button_id">
</div>
</form>
</div>
</div>
</div>
<script type="text/template" id="error-msg-template">
	<li style="text-align:left;">{0}</li>
</script>
 
<script type="text/javascript">
/* srings for post header loading */
var login_form_inprogress_str = "正在登录 ...";
var login_form_error_str = "Email或者密码有误。";
var login_form_correct_str = "登录成功。跳转中 ...";
var login_form_onetime_str = "使用一次性密码登录成功。请马上修改您的密码";

var login_modal_favorite_msg = "使用收藏功能需要先登录您的账号";
var login_modal_np_msg = "发布广告需要先登录您的账号";
var login_modal_normal_msg = "请使用你的邮箱和密码登录";

var register_form_inprogress_str = "正在注册 ...";
var register_form_email_exist_str = "email已被占用。"
var register_form_username_exist_str = "用户名已被占用"
var register_form_correct_str = "注册成功。正在登陆 ...";

var forgot_form_inprogress_str = "正在找回密码 ...";
var forgot_form_nonexist_str = "您输入的email不存在。";
var forgot_form_correct_str = "我们已经往您的邮箱发送了一次性登录密码（30分钟内有效）";

var account_form_inprogress_str = "正在保存 ...";
var account_form_username_exist_str = "用户名已被占用"
var account_form_correct_str = "已保存";

var email_error_msg = "您必须输入一个有效的email地址。";
var password_error_msg = "密码必须在4到16个字符之间。";
var password_match_error_msg = "密码不匹配。";
var username_error_msg = "用户名必须在4到16个字符之间。";
var alert_name_error_msg = "请输入订阅名称。";
var unknown_error_str = "操作失败。请点击屏幕右下角的图标联系我们。";

var alert_form_inprogress_str = "正在创建推送...";
var alert_form_overflow_str = "创建失败。您最多只可以创建10个推送";
var alert_form_error_str = "操作失败。请点击屏幕右下角的图标联系我们。";
var alert_form_correct_str = "邮件推送创建成功！"
var alert_name_str = "我的推送："

var confirm_delete_str = "确认删除";

var USERNAME_MIN_LENGTH = 3;
var USERNAME_MAX_LENGTH = 16;
var PASSWORD_MIN_LENGTH = 4;
var PASSWORD_MAX_LENGTH = 16;

var login_modal_alert = "推送功能将会把符合当前搜索的房源通过邮件发送给您。请登录以创建邮件推送。";

var region_prefix = "区域："
var mrt_prefix = "MRT: "
</script>
<script type="text/javascript" src="/static/CACHE/js/91805200a756.js"></script>
<div class="container main-shadow">
<div class="row layout-block">
<div class="no-h-padding col-sm-12" style="padding-bottom:20px;">
<span class="post-title">3室+1厅 大牌 19多佛 Dover 编号130019</span>
<span class="orange-block">中介</span>
</div>
<div class="no-h-padding subtitle">
<div class="no-h-padding col-sm-2 col-sm-offset-5 col-xs-4">
<span id="add-favorite" class="add-favorite-grey pull-right">收藏</span>
</div>
<div class="no-h-padding col-sm-5 col-xs-8">
 
<div class="bdsharebuttonbox pull-right" style="margin-right:10px;">
<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
<a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
<a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a>
<a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a>
<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
</div>
 
</div>
</div>
</div>
 
<div class="row layout-block description-block">
<div class="col-sm-12 no-h-padding block-title-div">
<h3 class="block-title">基本信息</h3>
</div>
<div class="col-sm-6 col-xs-12" style="padding:10px 20px 0 5px;">
<div class="row" style="padding-bottom:10px;">
<span class="price-value">2300</span><span class="price-unit">/月</span>
</div>
<div class="row parameter-row">
<div class="col-xs-2 parameter-item">
<span class="parameter-header">发布于</span>
</div>
<div class="col-xs-10 parameter-item">
<span class="parameter-value" id="post-time">2 小时前</span>
</div>
</div>
<div class="row parameter-row">
<div class="col-xs-2 parameter-item">
<span class="parameter-header">区域</span>
</div>
<div class="col-xs-10 parameter-item">
<span class="parameter-value">
<a href="/web/index/Queenstown_region">女皇镇</a>
</span>
</div>
</div>
<div class="row parameter-row">
<div class="col-xs-2 parameter-item">
<span class="parameter-header">地铁</span>
</div>
<div class="col-xs-7 parameter-item">
<span class="parameter-value">
<a href="/web/index/Dover_mrt">杜弗</a>
</span>
</div>
<div class="col-xs-3 parameter-item">
<a href="#view-transit" class="nearby-link">查看交通</a>
</div>
</div>
<div class="row parameter-row">
<div class="col-xs-2 parameter-item">
<span class="parameter-header">地址</span>
</div>
<div class="col-xs-7 parameter-item">
<span class="parameter-value">19 Dover Cres, Block 19, Singapore 130019</span>
</div>
<div class="col-xs-3 parameter-item">
<a href="#view-map" class="nearby-link">查看地图</a>
</div>
</div>
<div class="row parameter-row">
<div class="col-xs-2 parameter-item">
<span class="parameter-header">房型</span>
</div>
<div class="col-xs-10 parameter-item">
<span class="parameter-value">整套</span>
</div>
</div>
<div class="row parameter-row">
<div class="col-xs-2 parameter-item">
<span class="parameter-header">租期</span>
</div>
<div class="col-xs-10 parameter-item">
<span class="parameter-value">长租</span>
</div>
</div>
<div class="row parameter-row">
<div class="col-xs-2 parameter-item">
<span class="parameter-header">电话</span>
</div>
<div class="col-xs-10 parameter-item">
<a href="tel:96865421"><span class="phone-text">
96865421
</span></a>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-6" style="padding:10px 8px 0 15px;">
<div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-width="100%" data-ratio="16/9" data-fit="contain" style="border:1px solid grey;">
<a src="http://s3-ap-southeast-1.amazonaws.com/sgroom-post-image-upload/2582595/0.jpg" data-caption=""></a>
<a src="http://s3-ap-southeast-1.amazonaws.com/sgroom-post-image-upload/2582595/1.jpg" data-caption=""></a>
<a src="http://s3-ap-southeast-1.amazonaws.com/sgroom-post-image-upload/2582595/2.jpg" data-caption=""></a>
<a src="http://s3-ap-southeast-1.amazonaws.com/sgroom-post-image-upload/2582595/3.jpg" data-caption=""></a>
</div>
</div>
</div>
<div class="row" style="padding-left:15px;">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
 
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7503476658858472" data-ad-slot="6246587549" data-ad-format="auto"></ins>
<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
</div>
<div class="row layout-block description-block">
<div class="col-sm-12 no-h-padding block-title-div">
<h3 class="block-title">房源详情</h3>
</div>
<div class="col-xs-12" style="font-size:14px;">
<p>大牌 19多佛 Dover 编号130019</p>
<p></p>
<p>4房式组屋 3室+1厅</p>
<p></p>
<p>有家私 / 有空调</p>
<p></p>
<p>地铁 8分钟</p>
<p></p>
<p>立刻可以入住</p>
<p></p>
<p>最低价钱 $2300</p>
<p></p>
<p>有意者，请快来电话 房屋中介- (电话) 【96865421】</p>
</div>

<!--
</div>
<div class="row layout-block map-block">
<div class="no-h-padding col-sm-12 block-title-div">
<h3 class="block-title">周边</h3>
</div>
<div class="col-sm-5 col-xs-12" style="padding-right:20px;">
<a name="view-transit"></a>
<div class="row" style="margin-bottom:15px;">
<span class="block-title-mini">公共交通</span>
</div>
<div class="row">
<div class="col-sm-12" style="text-align:left;">
<span class="station-name">Dover</span>
<span class="station-id"></span>
<span class="station-minutes">10 分钟</span>
</div>
</div>
<div class="row" style="margin-bottom:10px;">
<div class="col-xs-9">
<span class="route-item ew-item">EW</span>
</div>
<div class="col-xs-3">
<span class="station-distance">0.7 km</span>
</div>
</div>
<div class="row">
<div class="col-sm-12" style="text-align:left;">
<span class="station-name">Blk 19A Carpark</span>
<span class="station-id">19011</span>
<span class="station-minutes">1 分钟</span>
</div>
</div>
<div class="row" style="margin-bottom:10px;">
<div class="col-xs-9">
<span class="route-item bus-item">105</span>
<span class="route-item bus-item">106</span>
<span class="route-item bus-item">147</span>
<span class="route-item bus-item">185</span>
<span class="route-item bus-item">NR5</span>
<span class="route-item bus-item">NR8</span>
</div>
<div class="col-xs-3">
<span class="station-distance">0.1 km</span>
</div>
</div>
<div class="row">
<div class="col-sm-12" style="text-align:left;">
<span class="station-name">Singapore Polytechnic</span>
<span class="station-id">19091</span>
<span class="station-minutes">2 分钟</span>
</div>
</div>
<div class="row" style="margin-bottom:10px;">
<div class="col-xs-9">
<span class="route-item bus-item">14</span>
<span class="route-item bus-item">74</span>
<span class="route-item bus-item">166</span>
</div>
<div class="col-xs-3">
<span class="station-distance">0.2 km</span>
</div>
</div>
<div class="row">
<div class="col-sm-12" style="text-align:left;">
<span class="station-name">Opposite SP SMA</span>
<span class="station-id">19029</span>
<span class="station-minutes">4 分钟</span>
</div>
</div>
<div class="row" style="margin-bottom:10px;">
<div class="col-xs-9">
<span class="route-item bus-item">14</span>
<span class="route-item bus-item">74</span>
<span class="route-item bus-item">105</span>
<span class="route-item bus-item">106</span>
<span class="route-item bus-item">147</span>
<span class="route-item bus-item">166</span>
<span class="route-item bus-item">185</span>
<span class="route-item bus-item">NR5</span>
<span class="route-item bus-item">NR8</span>
</div>
<div class="col-xs-3">
<span class="station-distance">0.2 km</span>
</div>
</div>
<div class="row">
<div class="col-sm-12" style="text-align:left;">
<span class="station-name">SP SMA</span>
<span class="station-id">19021</span>
<span class="station-minutes">4 分钟</span>
</div>
</div>
<div class="row" style="margin-bottom:10px;">
<div class="col-xs-9">
<span class="route-item bus-item">14</span>
<span class="route-item bus-item">74</span>
<span class="route-item bus-item">74e</span>
<span class="route-item bus-item">105</span>
<span class="route-item bus-item">106</span>
<span class="route-item bus-item">147</span>
<span class="route-item bus-item">166</span>
<span class="route-item bus-item">185</span>
<span class="route-item bus-item">NR5</span>
<span class="route-item bus-item">NR8</span>
</div>
<div class="col-xs-3">
<span class="station-distance">0.3 km</span>
</div>
</div>
<div class="row">
<div class="col-sm-12" style="text-align:left;">
<span class="station-name">Opposite United World College</span>
<span class="station-id">19071</span>
<span class="station-minutes">6 分钟</span>
</div>
</div>
<div class="row" style="margin-bottom:10px;">
<div class="col-xs-9">
<span class="route-item bus-item">14</span>
<span class="route-item bus-item">33</span>
<span class="route-item bus-item">74</span>
<span class="route-item bus-item">166</span>
<span class="route-item bus-item">196</span>
</div>
<div class="col-xs-3">
<span class="station-distance">0.4 km</span>
</div>
</div>
<div class="row">
<div class="col-sm-12" style="text-align:left;">
<span class="station-name">Before Dover Court Prep School</span>
<span class="station-id">19079</span>
<span class="station-minutes">6 分钟</span>
</div>
</div>
<div class="row" style="margin-bottom:10px;">
<div class="col-xs-9">
<span class="route-item bus-item">33</span>
<span class="route-item bus-item">196</span>
</div>
<div class="col-xs-3">
<span class="station-distance">0.4 km</span>
</div>
</div>
<div class="row">
<div class="col-sm-12" style="text-align:left;">
<span class="station-name">Blk 3</span>
<span class="station-id">12129</span>
<span class="station-minutes">8 分钟</span>
</div>
</div>
<div class="row" style="margin-bottom:10px;">
<div class="col-xs-9">
<span class="route-item bus-item">92</span>
</div>
<div class="col-xs-3">
<span class="station-distance">0.5 km</span>
</div>
</div>
<div class="row">
<div class="col-sm-12" style="text-align:left;">
<span class="station-name">After Anglo-Chinese Junior College</span>
<span class="station-id">18141</span>
<span class="station-minutes">9 分钟</span>
</div>
</div>
<div class="row" style="margin-bottom:10px;">
<div class="col-xs-9">
<span class="route-item bus-item">74</span>
<span class="route-item bus-item">91</span>
<span class="route-item bus-item">92</span>
<span class="route-item bus-item">95</span>
<span class="route-item bus-item">191</span>
<span class="route-item bus-item">196</span>
<span class="route-item bus-item">198</span>
<span class="route-item bus-item">200</span>
</div>
<div class="col-xs-3">
<span class="station-distance">0.6 km</span>
</div>
</div>
</div>
<a name="view-map"></a>
<div class="col-sm-7 col-xs-12">
<div class="row" style="margin-bottom:15px;">
<span class="block-title-mini">地图</span>
</div>
<div id="map-canvas"></div>
</div>
</div>
<div class="row layout-block comment-block">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
 
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7503476658858472" data-ad-slot="9339654742" data-ad-format="auto"></ins>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
</div>
-->
<footer>
<style>.disclaimer-text{font-size:10px;text-align:center}.footer-block{margin-top:20px;padding:10px;margin-bottom:0px;width:100%;text-align:center;border-top:1px solid #E5E5E5;background-color:#FDFDFD;}.footer-keyword{color:black;font-size:10px;}.ext-link{color:rgb(50,50,50);font-size:10px;}.ext-link-title{font-weight:bold;font-size:10px;}.foot-link{color:black;font-weight:bold;}</style>
<div class="footer-block">
<!--
<p class="foot-link"><a href="/blog/?p=49" class="foot-link">关于SGROOM</a> | <a href="/sitemap.htm" class="foot-link">网站地图</a> | <a href="/blog" class="foot-link">博客</a> | <a href="/web/phone/" class="foot-link">中介/房东数据库</a></p>
<p class=""><span class="ext-link-title">合作伙伴：</span><a href="http://sgtips.com/zh" class="ext-link">新加坡信用卡攻略网</a> </p>
<p class="">
<div style="display:none">keywords: <a href="http://www.sgroom.com/sitemap.htm" title="新加坡租房" target="_blank" class="footer-keyword"><strong>新加坡租房</strong></a>
<a href="http://www.sgroom.com/sitemap.xml" title="新加坡租房" target="_blank" class="footer-keyword"><strong>新加坡租房</strong></a>
<a href="http://www.sgroom.com/all_posts/0/" title="新加坡租房" target="_blank" class="footer-keyword"><strong>新加坡租房</strong></a>
-->
<p class="foot-link">
<a href="#" class="foot-link">关于NZROOM</a>
| <a href="#" class="foot-link">网站地图</a>
| <a href="#" class="foot-link">博客</a> | <a
href="#" class="foot-link">中介/房东数据库</a>
</p>
<p class="">
<span class="ext-link-title">合作伙伴：</span><a
href="#" class="ext-link">移民族论坛</a> | <a
href="#" class="ext-link">WHV百科网</a>
</p>
<p class=""></p>
<div style="display: none">
keywords: <a href="http://www.NZROOM.com/sitemap.htm" title="新西兰租房"
target="_blank" class="footer-keyword"><strong>新西兰租房</strong></a> <a
href="http://www.NZROOM.com/sitemap.xml" title="新西兰租房"
target="_blank" class="footer-keyword"><strong>新西兰租房</strong></a> <a
href="http://www.NZROOM.com/all_posts/0/" title="新西兰租房"
target="_blank" class="footer-keyword"><strong>新西兰租房</strong></a>
</div>
<p></p>
</div>
</footer>
<script type="text/javascript" src="/static/CACHE/js/4cebc870fad0.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5372d46914c0350d"></script>
</body>
</html>
